<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
</head>
<body>

<h1>Contact Details </h1>
<form name="form" method="post" action="/send">

Name: <input type="text" name="full_name" />
<br />
Registration Number: <input type="text" name="regno" />
<br />
Gender: <input type="text" name="gender" />
<br />
Email id: <input type="email" name="email" />
<br />
Phone number: <input type="number" name="mob" />
<br />
Room number: <input type="text" name="room" />
<br />
Key: <input type="text" name="key" />
<br />
<input type="submit" value="Submit" />

</form>
</body>
</html>
